    <%- include('../partials/navbar') %>
    
    <div class="row">
        <div class="col-lg-3"></div>
    
    <div class="col-lg-6 m-6">
        <a href="/actv" class="btn btn-outline-secondary mb-5"><i class="fas fa-arrow-left"></i> Go Back</a>
        <div class="card" style="border: 0px;">
            <img src="../img/test-image.jpg" class="card-img-top" alt="NO IMAGE" style="border-radius: 2%;">
            
            <div class="card-body">
                
                <h3><%= list.title %></h3>
                <small>
                    Posted by 
                    <span class="badge text-bg-secondary"><%= `${user.firstName} ${user.lastName}` %></span>
                    <%= list.dateposted %>
                </small>
                <hr>
                <p>
                    <i class="fas fa-map-marker"></i> <b><%= list.location %></b>
                    <span class="card-text text-to-ellipsis"><%= list.description %></span>
                </p>
            </div>
            
        </div>
        <a class="btn btn-outline-secondary mb-3" href="/actv/<%=list.id %>/edit/">Edit this post</a>
        <a class="btn btn-outline-secondary mb-3" href="#"  onclick="submitForm('submitForm','btnId');" >
            Delete this post
            <form hidden id="submitForm" action="/actv/<%= list._id %>?_method=DELETE" method="post">
            </form>
            </a>


        
            <form id="reviewForm" action="/actv/comment/<%= list._id %>" method="post">
                <div class="form-group">
                <label for="description">Review</label>
                <textarea name="description" class="form-control mb-2" placeholder="Leave a description here" id="description" style="height: 100px"></textarea>
                </div>
                <div class="form-group">
                    <label for="ratings">Ratings</label><br>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Poor
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Fair
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Good
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Very Good
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Excellent
                        </label>
                      </div>
                </div>
                
            </form>
            
    
    </div>
    <div class="col-lg-3">
        
    </div>
    </div>
    

    <%- include('../partials/footer') %>
