    <%- include('../partials/navbar') %>
    
    <div class="row">
        <div class="col-lg-3"></div>
    
    <div class="col-lg-6 m-6">
        <a href="/actv" class="btn btn-outline-secondary mb-5"><i class="fas fa-arrow-left"></i> Go Back</a>
        <div class="card" style="border: 0px;">
            <img src="../img/test-image.jpg" class="card-img-top" alt="NO IMAGE" style="border-radius: 2%;">
            
            <div class="card-body">
                
                <h3><%= list.title %></h3>
                <small>
                    Posted by 
                    <span class="badge text-bg-danger"><%= list.postedBy %></span>
                    <%= list.dateposted %>
                </small>
                <hr>
                <p>
                    <i class="fas fa-map-marker"></i> <b><%= list.location %></b>
                    <span class="card-text text-to-ellipsis"><%= list.description %></span>
                </p>
            </div>
            
        </div>
        <a class="btn btn-outline-secondary" href="/actv/<%=list.id %>/edit/">Edit this post</a>
        <a class="btn btn-outline-secondary" href="#"  onclick="submitForm('submitForm','btnId');" >
            Delete this post
            <form hidden id="submitForm" action="/actv/<%= list._id %>?_method=DELETE" method="post">
            </form>
            </a>


        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" placeholder="Leave a description here" id="description" style="height: 100px"></textarea>
          </div>
    
    </div>
    <div class="col-lg-3">
        
    </div>
    </div>
    

    <%- include('../partials/footer') %>
